@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Plus</button>
<button class="btn btn-primary" @onclick="DecreaseCount">Minus</button>
<button class="btn btn-primary" @onclick="Reset">Reset</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    private void DecreaseCount()
    {
        currentCount--;
    }
    private void Reset()
    {
        currentCount = 0;
    }
}
